@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";
.font-press {
  font-family: "Press Start 2P", cursive;
  font-size: 8px;
}

body {

    background-color: rgb(249,243,226); 
}

